<div class="row">
	<aside class="span3">
    <%= render partial: 'shared/index_sidebar_content' %>
  </aside>
	<div class="well big-well span8">
		<h1>Welcome To Analytics</h1>
		<br/>
		<div class="row">
			<div class="span4">
				<h2>Number Of Users: 10</h2>
			</div>
			<div class="span4">
				<h2>Number Of Projects: 12</h2>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h2>Total No. of unique hits of all the projects: 200</h2>
			</div>
		</div>
	</div>
</div>