<h1>Dashboard</h1>
<hr>
<ul class="nav nav-tabs">
  <li class="active"><a href="#new_project">Add new project</a></li>
  <li><a href="#all_projects">My Projects</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="new_project">
  	<%= render partial: 'new_project', 
  			:locals => { :project => @project } 
	%>
  </div>
  <div class="tab-pane" id="all_projects">

  </div>
</div>
 