<% provide(:title, 'Home') %>

<div class="center hero-unit">
    <h1>Welcome!</h1>

    <h2>
     Want analytics for your website, huh?
    </h2>

    <%= link_to "Sign up now!", new_user_session_path, class: "btn btn-large btn-primary" %>
  </div>