<% provide(:title, 'Home') %>

<div id="home_page" class="row">
    <div class="span7">
        <h1>Realtime Tracking Navigation for Websites</h1>
        <p>Navigation Tracker is the place you can track the navigation of your domain.
          Where in one can come put there domain here and track the each and every you create on Navigation Tracker.
          Why to wait register today to Navigation Tracker !!</p>
        <p style="float: right;">
            <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-success" %>
            <%= link_to "Take a tour", take_tour_path, class: "btn btn-large" %>
        </p>
    </div>
    <div class="span5">
      <%= image_tag "Navigation_image.jpg",:size => "520x450",:class => "img-polaroid" %>
    </div>
</div>	
<hr>
<div class="row" id="features">
    <div class="span4">
        <h2>Create a Project</h2>
            <ul>
              <li>Create a new project to track the navigation.</li>
              <li>Add the Domain URL while creating the project.You will get a tracking code to place in your application.</li>
              <li>Place the tracking code on the pages you want to track.</li>
              <li>Now you are ready to track the navigation of your application on Navigation Tracker.</li>
            </ul>
    </div>
    <div class="span4">
        <h2>Track Multiple Projects </h2>
          <ul>
            <li>Navigation tracker is the place you can multiple projects you created.</li>
            <li>There is no paid service on the Navigation Tracker.</li>
            <li>Create Unlimited projects for Free.</li>
            <li>Why to wait create as many project you want to track on Navigation Tracker.</li>
           </ul>
    </div>
    <div class="span4">
        <h2>View Your Projects Stats</h2>
        <ul>
            <li>You can view the stats for all your projects.</li>
            <li>The tracked stats are different for each of your projects.</li>
            <li>Project tracking is done every hour.</li>
            <li>The tracked stats is shown in the form of Tree view.</li>
        </ul>
    </div>
</div>

