<% provide(:title, 'Take a Tour') %>

<div id="feature" class="row">
  <div class="row" id="title">
    <div class="page-header">
      <center><h2>Take a Tour - Navigation Tracker</h2></center>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <object width="100%" height="600">
        <param name="movie" value="/Navigation_tracking_demo_tour.swf">
        <embed src="/Navigation_tracking_demo_tour.swf" width="100%" height="600">
        </embed>
      </object>
    </div>
  </div>
</div>