<p>Hi <%= "#{@user.first_name} #{@user.last_name}" %>,</p><br/>
<p>Super Admin of Analytics have been updated your details.</p>
<p>Please try login to Analytics with the following information::</p><br/>
<p>
	First name: <%= @user.first_name %><br>
	Last name: <%= @user.last_name %><br>
	E-mail: <%= @user.email %><br>
</p><br>
<p>Password has not been changed, enter the same password you have entered while registering to the application.</p>
<p>Thanks &amp; Regards,<br>
Analytics Team</p>