<p>Hi, <%= "#{@user.first_name} #{@user.last_name}" %>,</p>
<p>Welcome to Analytics!</p>
<p>Please login with your email address and password for accessing the features on the application.</p>
<p>Thanks &amp; Regards,<br>
Analytics Team</p>