<ul class="nav nav-tabs">
  <li class="active"><a href="#my_profile">My Profile</a></li>
  <li><a href="#change_password">Change Password</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="my_profile">
    <%= render :partial => 'edit_profile' %>
  </div>
  <div class="tab-pane" id="change_password">
    <%= render :partial => 'change_password' %>
  </div>
</div>

