
<h1 xmlns="http://www.w3.org/1999/html">Details of User</h1>
<hr>
<tr>
  <td>
    <strong>First Name:</strong>
    <%= @user.first_name %> <br><br>
  </td>
</tr>
<tr>
  <td>
    <strong>Last Name:</strong>
    <%= @user.last_name %> <br><br>
  </td>
</tr>
<tr>
  <td>
    <strong>Email-address :</strong>
    <%= @user.email %> <br><br>
  </td>
</tr>