<table xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <tr>
    <td>

      <strong>Name of the Project:</strong>
      <%= @project.name %> <br><br>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Name of the Domain:</strong>
      <%= @project.domain %> <br><br>

    </td>
  </tr>
  <tr>
    <td>
      <strong>Git URL :</strong>
      <%= @project.git_url %> <br><br>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Project Management Tool :</strong>
      <%= @project.project_mgt_tool %> <br><br>
    </td>
  </tr>
</table>



