<ul class="nav nav-tabs">
  <li class="active"><a href="#stats">Stats Details</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="stats">
    <small>
      <p style="display: inline; float: right; font-size: 15px">Go to <a href="<%= dashboard_index_path %>#all_projects">Dashboard</a></p>
    </small>
    <h2>Name of the Project: <%= @project.name %> </h2>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Users Visited</th>
          <th>No. of Hits on Domain</th>
          <th>No. of Unique Hits on Domain</th>
          <th>No. of Hits on Domain since Last Hour</th>
          <th>No. of Unique Hits on Domain since Last Hour</th>
          <th>Graph</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td><%= link_to "View Graph" ,"#" %></td>
        </tr>
        </tbody>
    </table>
  </div>
</div>