<h2>Project Details</h2>
<table class="table">
  <tr>
    <td><strong>Project Name: </strong></td>
    <td><span><%= @project.name %></span></td>
  </tr>
  <tr>
    <td><strong>Project Domain: </strong></td>
    <td><span><%= @project.domain_name %></span></td>
  </tr>
  <tr>
    <td><strong>Project URL: </strong></td>
    <td><span><%= @project.domain_url %></span></td>
  </tr>
</table>
<% if !is_admin? %>
  <p>Go back to <a href="<%= dashboard_index_path %>#all_projects" class="btn btn-mini">Dashboard</a></p>
<% end %>