
<h1 xmlns="http://www.w3.org/1999/html">Details of Project</h1>
<hr>
  <tr>
    <td>
      <strong>Name of the Project:</strong>
      <%= @project.name %> <br><br>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Name of the Domain:</strong>
      <%= @project.domain_name %> <br><br>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Domain URL :</strong>
      <%= @project.domain_url %> <br><br>
    </td>
  </tr>





