<ul class="nav nav-tabs">
  <li class="active"><a href="#tracking_code">Tracking code</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="tracking_code">
    <p>To begin recording statistics, add the following code to your website. You should add the code to every page of your site, somewhere in the body of the page.</p>
    <br>
    <%= render :partial => 'shared/tracking_code' %>
  </div>
</div>