@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

@mixin rounded($radius: 10px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin box_shadow($options: 0 0 5px #eeeeee) {
  -moz-box-shadow: $options;
  -webkit-box-shadow: $options;
  box-shadow: $options;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* bootstrap modifications */

.hero-unit {
   background-color: #fafafa;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.3em;
  color: $grayDark;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $grayLight;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* forms */

textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  @include box_shadow(0 0 5px #ddd);
  width: 70%;
  margin: 0 auto;
  color: $red;
  border: 1px dashed $grayMediumLight;
  margin-bottom: 20px;
  background: #FFECEC;
  h2 {
    font-size: 20px;
    color: $gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
  }
  ul {
    padding: 0 10px;
    list-style: circle inside none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  color: $red;
  //@extend: .control-group;
  @extend .error;
  display: inline;
 }

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
      font-size: 12px;
      color: $gray;
    }
    h1 {
      font-size: 1.3em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}


ul#admin_sidebar {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    &:last-child {
      border-bottom: 0px solid #ccc;
    }
  }
}


/* static pages */

#home_page {
  h1 {
    text-align: left;
  }
  a.btn-large {
    margin-right: 30px;
  }
}

#features {
  h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
    li {
      border-bottom: 1px dotted #ddd;
      padding: 5px;
    }
  }
}

#border
{
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 2px 5px 5px #DEDEDE;
  padding: 10px;
  p{
    padding: 20px;
  }
}
#feature {
  h1 {
    font-size: 2em;
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  ul {
    list-style: none;
    li {

      padding: 5px;
    }
  }
}
/* user dashboard */

#all_projects a {
  margin-right: 8px;
}
#project_total_stat_figures {
  font-size: 14px;
  font-weight: bold;
  margin: -20px 0 15px;
  text-align: left;
  span{
    margin-right: 10px
  }
}


/* Custom chart styling */
.jOrgChart {
  margin: 0 0 0 300px;
  padding : 20px;
  .visit_path {
    display: inline-block;
  }
  .visit_time {
    display:block !important;
    font-size: 11px;
  }
}

/* Custom node styling */
.jOrgChart .node {
  font-size       : 14px;
  background-color  : #ddd !important;
  border-radius     : 100px;
  border        : 5px solid white;
  color         : #333;
  -moz-border-radius  : 8px;
  margin: 0;
  padding: 15px;
}
.jOrgChart .line {
  width: 2px !important;
}
.node p{
  font-family   : tahoma;
  font-size     : 10px;
  line-height   : 11px;
  padding     : 2px;
}
td.node-cell .node {
  min-width:250px;
  height:auto;
  margin:0 auto;
}
