<footer class="footer">
  <small>
    &copy; 2012
  </small>
  <nav>
    <ul>
      <li>
				<small>
					A <a href="http://weboniselab.com">Webonise Lab</a> project
				</small>
			</li>
    </ul>
  </nav>
</footer>